<!--<p>
  list works!
</p>-->
<!--<div *ngFor="let item of items">{{ item.name }}</div>-->
<table class="table table-striped">
  <tr>
    <th>Posicion</th>
    <th>Id</th>
    <th>Name</th>
  </tr>
  <tr *ngFor="let item of items" draggable="true" (dragstart)="onDragStart($event, item)" (drop)="onDrop($event, item)" (dragover)="false">
    <td>{{ item.posicion }}</td>
    <td>{{ item.id }}</td>
    <td>{{ item.name }}</td>
  </tr>
</table>
<!--<div (drop)="onDrop($event, dropData)" (dragover)="allowDrop($event)">Hola</div>
<div draggable="true" (dragstart)="onDragStart($event, dragData)">hola</div>-->
<!--<ul>
  <li>
    <h2><a target="_blank" href="https://angular.io/docs/ts/latest/tutorial/">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="http://angularjs.blogspot.ca/">Angular blog</a></h2>
  </li>
</ul>-->